header {
    height: 30px;
    background: #00cc00;
    color: white;
    padding: 20px;
    user-select: none;
    font-size: 20px;
    height:60px;
  }
  body {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
      Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.2em;
    margin-bottom: 0;
   overflow-y: hidden;
    width:100%;
    box-sizing:border-box;
    overflow-y: scroll;
  }
  
  main {
    margin-top: 10px;
    margin-left: 15vw;
    border-radius: 20px;
    padding: 20px;
    background: #ffffff;
    width: 60vw;
    margin-bottom: 60px;
    
  }
  header>a{
    color:white;
    text-decoration: none;
  }
  .start {
    border: none;
    padding: 10px;
    margin-top: 10px;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    text-align: center;
    background: #333333;
    color: white;
    margin: 0;
    padding: 10px;
    height:60px;

  }
  
 




  .modal_bg {
    background: #000000aa;
    position: absolute;
    margin-right:0;
    z-index: 2;
    width:100vw;
    height:100vh;
   display :none;
   position: fixed;
  }

  h2 {
    margin: 0;
    margin-bottom: 30px;
    text-align:center;
  }
  
  p.error {
    color: red;
    visibility: hidden;
  }
  .next{
    text-align:right;
  }
  .next>button{
    background:#00bb00;
    padding:7px 25px;
    border:none;
    border-radius:10px;
    color:white;
    font-size:1rem;
    user-select:none;
  }
  
  
  
  .start{
    text-align:center;
  }
  .start>button{
    background:#00bb00;
    padding:7px 25px;
    border:none;
    border-radius:10px;
    color:white;
    font-size:1rem;
    user-select:none;
  }
  
.mod_2>div,.mod_3>div{
    display: flex;
    justify-content: space-evenly;
}
  
  .mod_2> div>button,.mod_3> div>button{
    width:40%;
    margin-top:20px;
    background:#00bb00;
    padding:30px 25px;
    border:none;
    border-radius:10px;
    color:white;
    font-size:1rem; 
    user-select:none;
  }
  
#quiz{
  display:none;
}

  #bar{
    width:100vw;
    height:65px;
    position:absolute;
    position: fixed;
    bottom:0;
    z-index:1;
    background:#bbffbb;
    display: none;
    }
    
    .t_a{
      width:100vw;
      height:60px;
      background: #2222ff;
    }
    #true{
      width:30vw;
      background: #fa0a33;
      height:60px;
    }
    
    #bar_now{
      height:5px;
      width:40vw;
      background: #00cc00;
    }
    #true_txt{
      position:absolute;
      bottom:0;
      color:white;
      z-index:2;
      font-size:13px;
      padding-left:5px;
     position:fixed;

      }
      #false_txt{
        position:absolute;
        bottom:0;
        color:white;
        z-index:2;
        font-size:13px;
        text-align: right;
        width:100%;
        padding-right:5px;
     position:fixed;

      }
    #a>button{
      width:100%;
      margin-top:30px;
      height:50px;
      border:none;
      font-size:20px;
      background: #cccccc;
      border-radius: 30px;
      user-select:none;
    }
    #a>button:active{
      background:#aaaaaa;
    }

  button{
    -webkit-tap-highlight-color: transparent;
    /* display:none; */
  }
  
    button:active{
      background:#007700;
    }

.modal_quiz{
  width:300px;
  height:300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


  h1>span {
    display: inline-block;
 }
.modal_quiz_bg{
  position:absolute;
  position:fixed;
  background: #000000aa;
  width:100vw;
  height:100vh;
  top:0;
  z-index:2;
  display:none;
}
.modal_quiz>img{
width:100%;
z-index:3;
user-select: none;
}
.modal_quiz>.true{
  color:red;
  display:none;
}
.modal_quiz>.false{
  color:blue;
  display:none;
}
.restart{
  width:150px;
  background: #00bb00;
  border:none;
padding-top:10px;
padding-bottom:10px;
border-radius: 20px;
color: white;
margin-right: 20px;
}
.tweet{
  width:150px;
  background:#1da1f2;
  border:none;
padding-top:10px;
padding-bottom:10px;
border-radius: 20px;
color: white;
}
.tweet:active{
background: #0c7abe;
}
.tweet::before{
  content: '';
  display: inline-block;
  width:20px;
  height:20px;
  margin-right: 6px;
  background-image: url(./twitter.svg);
  background-size: contain;
  vertical-align: middle;
}
#result{
  display: none;
}
  *{
    box-sizing: border-box;
  }
  button,select{
    cursor: pointer;
  }

  @media screen and (min-width: 600px) {
    #modal {
        background: white;
        z-index: 3;
        padding: 20px;
        border-radius: 20px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 100px;
        padding-top: 30px;
        padding-bottom: 50px;
        transform: translate(-50%, -50%);
        height:300px;
        width: 500px;
        display:none;
        position: fixed;
      }
      .set_select{
        width:100%;
      }
}

  @media not screen and (min-width: 600px) {
  main{
    margin:0;
    width:100vw;
    margin:0;
    border-radius:0;
    position: fixed;
    height:100vh;
    overflow:scroll;
    padding-bottom:130px;
   
  }


    
#modal{
position:absolute;
bottom:0;
z-index:3;
background: white;
width:100%;
margin:0;
height:300px;
padding:10px;
border-top-left-radius:30px;
border-top-right-radius:30px;
display:none;
}
.set_select{
    width:90%;
  
  }
  .set_group {
    margin-left:10vw;
  }
.modal_quiz{
  width:250px;
  height:250px;

}


}






  
  .set_group {
    margin-bottom: 5px;
    padding-top: 12px;
    position: relative;
  }
  
  .set_select {
    padding: 2px;
    padding-top: 12px;
    border: none;
    border: 2px solid #000;
    font-size: 16px;
    line-height: 20px;
    background: white;
    height: 45px;
    outline: none;
   margin-right: 1vw;
  
    border-radius: 3px;
  }
  .set_label_select {
    position: absolute;
    top: 16px;
    left: 5px;
    color: gray;
    transition: all 0.2s;
    cursor: text;
    font-size: 12px;
    line-height: 12px;
    user-select: none;
  }
  
  .set_select:focus {
    border: 2px solid #00bb00;
  }
  
  .set_select:focus + label {
    line-height: 12px;
    top: 16px;
    color: #00bb00;
  }
  
  
  
  
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  position:absolute;
       top: 0%;
     left: 44%;
     transform: translateX(-50%);
  }
  .loader {
    user-select:none;
    position: relative;
    border-top: 4px solid #00cc0033;
    border-right: 4px solid #00aa0033;
    border-bottom: 4px solid #00ac0033;
    border-left: 4px solid #00cc00;
    animation: load8 1s infinite linear;
  }
  
  @keyframes load8 {
    0% {
  
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }